<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--	 <add name="sqlconn" connectionString="server=.;Integrated Security=yes;Database=myapp;"/> -->
		<add name="sqlconn" connectionString="Server=DESKTOP-GFLPGOR\SQLEXPRESS;Database=myapp;uid=sa;pwd=123;" />
	</connectionStrings>
</configuration>